.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.env
.git
.gitignore
Dockerfile
README.md
*.sql
.python-version

cloud-sql-proxy.x64.exe
cloud_run.ps1
requirements.py
test_local.py
README.md
